[Desktop Entry]
Encoding=UTF-8
Name=Create a LiveCD
Name[fr]=Créer un LiveCD
Exec=subox tazlito-wiz
Icon=slitaz-icon
Type=Application
Categories=System;
