[Desktop Entry]
Name=Tazlito manual
Name[fr]=Manuel de Tazlito
Exec=browser file:///usr/share/doc/tazlito/tazlito.html
Icon=text-html
Type=Application
Categories=Documentation;
